*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}   


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px; 
    background-color: white;
    
}
   .main ul li{
      
      font-size: 5.5rem;
      font-weight:800;
      list-style-type: none;

       

   }  
     .one{ 
        color: rgb(0, 102, 255);

     } 
      .two{
          color: rgb(255, 51, 0);
      } 
       .three{
          color: yellow;
       } 
        .five{
          color: green;
        } 
         .search{
             position: relative;
            
     

         } 
           .search .fa-search{
               position: absolute;
               top: 34px;
               left: 30px;
               color: grey;
           } 
            .search .fa-microphone{ 
                   position: absolute;
                   top: 34px;
                   right: 30px;
                   color: blue;

            }
       
     

    .main ul{
        display: flex;
        justify-content:center ;
        align-items: center;
    }

 input{
     width: 35rem;
     padding: 1rem;
    
   border: none;
     margin: 1rem auto;
     box-shadow:5px 3px 11px -5px gray;
     border-radius: 3rem;
       }
     
     

  
  .word{
     display: flex;
    padding: 0.8rem;
    color: blue;
  } 
  .word p{
     padding: 1rem;
  } 
  h2{ 
     color:gray;
     font-size: 1.5rem;
     
  }
   .fa-solid{
   font-size: 2rem;
   background-color: red;
  } 
  /* .search{
       display: flex;
       align-items: center;
       justify-content: center;
  } */
  input::placeholder{ 
       padding-left: 3.5rem;
       color: gray;
      
  }